---
layout: gift-collections-page
title: All Gift Guides
sitemap: false
---
 

<div class="relatedPosts">

<div class="collection-page-title-box">
	<h1>{{ page.title }}</h1>
	<p>A collection of all our lists in one place. You'll find the latest posts here. Stay tuned for more.</p>
</div>

 <div class="counter">
  	{% capture site_tags %}{% for tag in site.tags %}{{ tag[1].size }}#{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_hashes = site_tags | split:',' | sort %}
 
 {% if site.tags["collections"].size <= 20 %}
 <span class="total-items">1 - {{ site.tags["collections"].size }} of {{ site.tags["collections"].size }} results</span>
  {% else site.tags["collections"].size > 20 %}
  <span class="total-items">1 - 20 of {{ site.tags["collections"].size }} results</span>
  {% endif %}
  </div>

<ul class="list">
{% assign filtered_posts = site.posts | where: "tags","collections" %}
{% assign sorted-posts = filtered_posts | sort: "last_modified_at" | reverse %}

{% for post in sorted-posts limit: 50 %}
<li class= "product-list-item" id="product-list-{% increment counter %}" >
<a href="{{ post.url }}">
<span class= "product-list-image">
<img src="/assets/{{ post.url | remove:'/' }}-gallery.jpg">
</span>
<h2>{{ post.title }}</h2>
 	<p class="summery">{{post.excerpt | truncate: 120 }}</p>
 	<span class="source">Collection</span>
 	<span class="button">View More</span>
 </a>
 </li>
{% endfor %}
</ul>
 
</div>

{% include collections-page-css.html %}