<div class="about-container">
        <img src="/assets/dattaraj.jpg" alt="Your Profile Picture" class="profile-pic">
        <h3><a rel="author" href="/about/">Dattaraj Pai</a></h3>
        <p>
            I’m the founder of Science of Gifts, a website dedicated to helping people find meaningful and thoughtful gifts. With years of experience researching the psychology of gift-giving, I explore how gifts communicate emotions, strengthen relationships, and create lasting memories. 
        </p>

       <p>
           Beyond writing about gifts, I have a background in storytelling and filmmaking, which fuels my passion for exploring the cultural impact of meaningful gestures.
       </p>
</div>




 