<div class="catagories">
	<ul>
		<li><a href="/gifts-for-men/">
			<span class="catagory-image">
			    <img src="../assets/icons/men-icon.png" alt="Men">
			</span>
			<span class="catagory-title"  id="gifts-for-men">
				<h2>For Men</h2>
				<p>Gifts for Guys</p>
			</span>
		</a></li>

		<li><a href="/gifts-for-women/">
			<span class="catagory-image">
			     <img src="../assets/icons/women-icon.png" alt="Women">
			</span>
			<span class="catagory-title"  id="gifts-for-women">
				<h2>For Women</h2>
				<p>Gifts for Her</p>
			</span>
		</a></li>

		<li class="gifts-by-profession"><a href="/gifts-by-profession/">
			<span class="catagory-image">
			     <img src="../assets/icons/profession-icon.png" alt="Profession">
			</span>
			<span class="catagory-title" id="gifts-by-profession">
				<h2>Professions</h2>
				<p>Career Wise</p>
			</span>
		</a></li>

		<li><a href="/animal-lover-gifts/">
			<span class="catagory-image">
			     <img src="../assets/icons/elephant-icon.png" alt="Animal">
			</span>
			<span class="catagory-title"  id="animal-lover-gifts">
				<h2>Animals</h2>
				<p>Animal Themed Gifts</p>
			</span>
		</a></li>

		<li><a href="/gifts-by-interests/">
			<span class="catagory-image">
			     <img src="../assets/icons/interests-icon.png" alt="Interest">
			</span>
			<span class="catagory-title"  id="gifts-by-interests">
				<h2>Interests</h2>
				<p>What do they like?</p>
			</span>
		</a></li>
	</ul>
</div>
