<div class="catagories">
	<ul>
		<li><a href="/gifts-for-men/">
			<span class="catagory-image">
			    <img src="../assets/icons/men-icon.png" alt="Men">
			</span>
			<span class="catagory-title"  id="gifts-for-men">
				<h2>For Men</h2>
				<p>Gifts for Guys</p>
			</span>
		</a></li>

		<li><a href="/gifts-for-women/">
			<span class="catagory-image">
			     <img src="../assets/icons/women-icon-home.png" alt="Women">
			</span>
			<span class="catagory-title"  id="gifts-for-women" >
				<h2>For Women</h2>
				<p>Gifts for Her</p>
			</span>
		</a></li>

		<li class="gifts-by-profession"><a href="/gifts-by-profession/">
			<span class="catagory-image">
			     <img src="../assets/icons/profession-icon-home.png" alt="Profession">
			</span>
			<span class="catagory-title" id="gifts-by-profession">
				<h2>Professions</h2>
				<p>Career Wise</p>
			</span>
		</a></li>

		<li><a href="/animal-lover-gifts/">
			<span class="catagory-image">
			     <img src="../assets/icons/elephant-icon-home.png" alt="Animal">
			</span>
			<span class="catagory-title"  id="animal-lover-gifts">
				<h2>Animals</h2>
				<p>Animal Themed Gifts</p>
			</span>
		</a></li>

		<li><a href="/gifts-by-interests/">
			<span class="catagory-image">
			     <img src="../assets/icons/interests-icon-home.png" alt="Interest">
			</span>
			<span class="catagory-title"  id="gifts-by-interests">
				<h2>Interests</h2>
				<p>What do they like?</p>
			</span>
		</a></li>
	</ul>
</div>

<style>
	.catagory-wrap{width:100%;max-width:1340px;display:block;margin:0px auto;}
	.catagories{width:100%;max-width:1300px;display:block;margin:0px 0px;margin-left:2%;margin-right:2%;}
	.catagories ul{display:block;float:left;width:100%;margin:0px auto;}
	.catagories ul>li{display:block;float:left;width:15%;margin:20px;background-color:transparent;}
	.catagory-image{float:left;background-color: transparent;width:100%;margin:auto;}
	.catagory-image img{margin-left:25%;margin-right:25%;background-color:transparent;width:50%;height:70px;object-fit: cover;opacity:0.9;}
	.catagory-image img:hover{transform: rotate(10deg)}
	.catagory-title{width:100%;float:left;clear:both;text-align:center;background-color:transparent;letter-spacing: 1.5px;}
	.catagory-title h2:hover{text-decoration: underline;}
	.catagory-title a:hover{color:red;}
	.catagory-title h2{margin:10px;font:bold 14px/22px 'Lato',sans-serif;text-transform: uppercase;letter-spacing: 3px;}
	.catagory-title p{margin:10px;font:italic 12px/18px 'Volkhov',sans-serif;}

@media screen and (max-width:1880px){
  
}
@media screen and (max-width:1280px){
}
@media screen and (max-width:1100px){
}

@media screen and (max-width:840px){
	.catagories ul>li{display:block;width:16%;margin:10px;}
	.catagory-image img{margin-left:25%;margin-right:25%;background-color:transparent;width:50%;height:50px;object-fit: cover;opacity:0.9;}
	.catagories{width:100%;max-width:1300px;display:block;margin-left:0%;margin-right:0%;}
	.catagory-title h2{margin:10px;font:bold 15px/22px 'Lato',sans-serif;}
	.catagory-title p{margin:10px;font:italic 12px/16px 'Volkhov',sans-serif;}

}
@media screen and (max-width:768px){

}
@media screen and (max-width:680px){
	.catagories ul>li{display:block;width:20%;margin:5px;height:120px;}
	.catagory-title h2{margin:5px;font:bold 11px/15px 'Lato',sans-serif;}
	.catagory-title p{margin:5px;font:italic 10px/15px 'Volkhov',sans-serif;}
	.catagory-image{float:left;background-color: transparent;width:100%;margin:auto;}
	.catagory-image img{margin-left:25%;margin-right:25%;background-color:transparent;width:50%;height:auto;object-fit: cover;opacity:0.9;}
	.catagory-image img:hover{transform: rotate(10deg)}


}
@media screen and (max-width:490px){
	.catagories ul>li{width:26%;margin:15px 10px;}
	.catagory-title h2{margin:5px;font:bold 11px/15px 'Lato',sans-serif;}
	.catagory-title p{margin:5px;font:italic 10px/15px 'Volkhov',sans-serif;}
	.catagory-image{float:left;background-color: transparent;width:100%;margin:auto;}
	.catagory-image img{margin-left:25%;margin-right:25%;background-color:transparent;width:50%;height:auto;object-fit: cover;opacity:0.9;}
	.catagory-image img:hover{transform: rotate(10deg)}
}
@media screen and (max-width:345px){
	.catagories ul>li{width:27%;margin:10px 10px;}
	.catagory-image img{margin-left:25%;margin-right:25%;background-color:transparent;width:50%;height:40px;object-fit: cover;opacity:0.9;}
}


</style>
