<style type="text/css">
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight{margin-bottom:15px;}
img{max-width:100%;vertical-align:middle;}
figure > img{display:block;}
figcaption{font-size:14px;}
ul, ol{margin-left:30px;}
li > ul,    
li > ol{margin-bottom:0;}
h1, h2, h3, h4, h5, h6{font-weight:300;}
a{color:#2a7ae2;text-decoration:none;}
a:visited{color:#1756a9;}
a:hover{color:#111;text-decoration:underline;}
blockquote{color:#828282;border-left:4px solid #e8e8e8;padding-left:15px;font-size:18px;letter-spacing:-1px;font-style:italic;}
blockquote >:last-child{margin-bottom:0;}
body{font:16px/24px 'Sen', sans-serif;color:#444;width:100%;background-color:#fff;}
a{text-decoration:none;color:#1A17C6;}
body a{text-decoration:none;color:#3B579D;}
body a:visited{color:#3B579D;}
body a:hover{color:#3B579D;text-decoration:underline;}
h1{font: bold 35px/45px 'Sen', sans-serif;margin-bottom:20px;padding:0px;color:black;}
.heading h1{text-align:center;font:normal 37px/46px 'Sen', sans-serif;}
h2{font: bold 20px/25px 'Sen', sans-serif;margin-bottom:15px;padding:0px;color:#222222;}
.post-content h2{font: bold 20px/25px 'Sen', sans-serif;margin-bottom:15px;color:#222222;}
.wrap{background-color:green;height:100%;max-width:1150px;margin:auto;background-color:#fff;border-bottom:0px solid white;}
.home-wrap{background-color:white;max-width:1150px;float:none;width:100%;}
.post-list{width:600px;}
p{margin:15px 5px 15px 5px;}
.post-link{font:bold  30px/40px Georgia, serif;}
/** Post Wrapper **/
.post-wrapper{background-color:white;width:100%;margin:auto;margin-top:40px;float:left;overflow:hidden;max-width:1300px;}
 .post-wrapper{background-color:white;width:100%;margin:auto;margin-top:40px;float:left;overflow:hidden;max-width:1300px;}
   /** Post 1 **/
   .post-1-image{width:100%;height:100%;object-fit: cover;float:left;margin:0px;max-height: 220px;}
   .post-1-image img{width:100%;object-fit:cover;max-height: 220px;}
    .post-1-title {border-bottom:1px solid #f9f9f9;border-top:1px solid #f9f9f9;padding:0px 0px 0px 0px;}
    .post-1 img:hover{opacity:0.9;}
   .post-1-title h2{font:bold  16px/24px 'Sen', sans-serif;text-align: left;margin: 10px 30px 30px 30px;text-transform: uppercase;letter-spacing: 1.5px;padding-bottom:25px;border-bottom:3px dotted #e9e9e9;margin-bottom:30px;}
   .post-1{width:100%;max-width:100%;margin: none;float:left;display:block;}
    .post-1-item{width:29%;margin:0% 2%;float:left;list-style: none;}
   .post-1 h2{width:90%;font: bold 16px/24px 'Sen', sans-serif;text-align:left;margin:20px 5%;letter-spacing: 1.5px;float:left;}
   .post-1-link {width:100%;margin:0 0%;float:left;}
   .post-1-link a{color:#111;}
   .post-1-link a:hover{text-decoration:none;color:#222;}
   .post-1-description{max-width:90%;margin: 1% 5% 7% 5%;color:#333;font: normal 14px/21px 'Sen', sans-serif;letter-spacing: 0.7px;}
   .post-1-description p{max-width:90%;margin:auto 5%;}
   .post-1-heading{width:100%;float;left;clear:both;margin:auto;}
   .post-1 h3{width:75%;font: bold 16px/24px 'Sen', sans-serif;text-align:left;margin:20px 1.5% 10px 1.5%;letter-spacing: 1.5px;float:left;color:#222;}
   .post-1-number{width:15%;float:left;font: bold 38px/39px 'Sen', sans-serif;color:#65b031;margin: 8% 1% 0 4%;}

/** Footer **/
.post-footer a{color:#3A5795;}
.foot a{margin:0px 10px;color:#444;}
.foot a:visited{color:#444;}
.foot{border-top:2px solid #e2e2e2;margin:20px 0;padding:20px 0 0 0;font-size:13px;text-transform: uppercase;font-weight:bold;letter-spacing: 1.5px;}
.site-footer{clear:both;padding:0px;}
.site-footer{max-width:1000px;margin:auto;padding:20px 0;background-color:white;text-align:center;}
/** Banner & Title **/
.title-home{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.title-home-link{padding:4px 2px;mix-blend-mode: screen;position: absolute;top: 70%;left: 50%;transform: translate(-50%, -50%);border: 3px solid #65b031;}
.title-home-link a{color:#222;font:bold 15px/30px 'Sen', sans-serif;letter-spacing: 2px; padding:8px 11px;background-color:white;
text-transform: none;}
.title-home-link a:visited{color:#222;}
.title-home-link:hover{color:#000;text-decoration: none;border: 3px solid #83c665;}
.title-home-link a:hover{text-decoration: none;background-color:#f1f1f1;}
.title-home h2{color:white;font:bold 44px/64px 'Sen', sans-serif;text-shadow: 2px 2px 5px #222;letter-spacing: 2px;}
/** Navigation **/
.nav img{float:left;}
.navbar{width:100%;height:48px;background-color:#111;text-transform: uppercase;}
.nav{width:1380px;max-width: 100%;margin:0 auto;}
.nav{background-color:#111;color:white;font:bold 11px/20px 'Sen', sans-serif;text-align:right;letter-spacing:4px;}
.nav li{display:inline;margin:10px;}
.nav ul{padding:10px 10px;max-width:1100px;margin:auto;} 
.nav a{color:white;text-decoration:none;}
.nav a:visited{color:white;}
.nav a:hover{color:#eee;text-decoration:none;}
.topnav {background-color: #111;overflow: hidden;}
.topnav a {float: right;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font:bold 10px/20px 'Sen', sans-serif;}
.topnav a:hover {background-color: #3366CC;color:#eee;}
.topnav .icon {display: none;}
   /** Other**/
   .number{float:left;font: bold 38px/39px 'Sen', sans-serif;color:#65b031;margin: 0px 10px 0px 0px;}
   .newsletter-wrapper{background-color:white;width:100%;margin:5px 0px auto ;float:left;overflow:hidden;max-width:100%;border-top:2px solid #eee;padding: 5px 0px;}
   .button{text-transform:uppercase;letter-spacing:2.5px;display:block;font: bold 11px/17px 'Sen', sans-serif;float:right;margin:5px 15px 15px 15px;padding:7px 12px;background-color:#3366CC;color:white;text-align:center;border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border: 0px solid #000000;}
    .button:hover{opacity: 0.9;}
  .source{color:#666;text-transform: uppercase;float:left;margin:15px 15px 15px 15px;letter-spacing:1.8px;display:block;font: bold 11px/17px 'Sen', sans-serif;}
   .collections-title{margin:-15px 0px 20px 0px;width:100%;border-bottom:2px solid #eee;padding-bottom:5px;margin-bottom:30px;}
   .collections-title h2{font: bold 19px/23px 'Sen', sans-serif;text-transform: uppercase;letter-spacing: 2px;}
   .break{width:100%;border-top:2px solid #eee;height:40px;color:#fff;float:left;margin:auto;}
   .break-line{margin:30px 0px 0px 0px;}
      /** Collection Page Title **/
   .collection-page-title-box{width:60%;margin:1% 20% 10% 20%;float:center;}
   .collection-page-title-box h1{font:bold 22px/32px 'Sen', sans-serif;width:100%;margin:10px auto;float:left;text-align:center;text-transform: uppercase;letter-spacing: 2px;}
   .collection-page-title-box p{width:100%;margin:15px;float:left;}
     /** Counter **/
   .counter{float: right;width: auto;overflow: hidden;margin: 10px;}
      /** Page Description **/
   .page-description p{width: 100%;margin: 20px 0;color: #999;font-size: 15px;}
   .counter{font-size: 12px;font-weight: bold;letter-spacing: 1.8px;text-transform: uppercase;}

@media screen and (max-width:1880px){ul.share-buttons{display:inline;}
}

@media screen and (max-width:1100px){
  .site-sidebar{width:30%;}
  .post-wrapper{background-color:white;width:100%;margin:auto;float:left;overflow:hidden;max-width:1100px;padding:0px;}
  /** Post 1 **/
  .post-1-heading{}
  .post-1{width:96%;max-width:100%;margin:2% 2%;}
  .post-1 h3{width:75%;font: bold 14px/20px 'Sen', sans-serif;margin:20px 2.5%;color:#222;}
  .post-1-number{width:13%;font: bold 28px/29px 'Sen', sans-serif;margin: 10% 1% 0 2%;}
}

@media screen and (max-width:900px){
    /** Post 1 **/
  .post-1-heading{}
  .post-1 h3{width:75%;font: bold 13px/17px 'Sen', sans-serif;margin:20px 2.5%;color:#222;}
  .post-1-number{width:13%;font: bold 25px/29px 'Sen', sans-serif;margin: 10% 1% 0 2%;}
    /** Other **/
  .top-suggested{height:70px}
  .popular{font:normal 6px/10px 'Sen', sans-serif;float:left;width:50px;height:50px;margin:10px 10px;}
  .number-popular{font: bold 25px/26px 'Sen', sans-serif;margin: 5px 5px 0px 5px;width:20%;}
}
@media screen and (max-width:800px){.wrap{width:100%;}
/** Navigation **/
.topnav a{display: none;}
.topnav a.icon {float: right;display: block;}
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {position: absolute;right: 0;top: 0;}
.topnav.responsive a {float: none;display: block;text-align: left;}
.navbar{width:100%;height:auto;}
/** Featured **/
.featured-post{width:80%;margin-right:auto;margin-left:auto;}
}


@media screen and (max-width:768px){body{font-size: 16px;}
.wrap{width:100%;background-color:#fff;margin:0%;}
.post-footer{padding:0px;width:100%;margin:0px;}
img{padding:0px;}
/** Navigation **/
.nav ul{padding:10px 0px;}
}


@media screen and (max-width:640px){body{font: normal 16px/24px 'Sen', sans-serif;}
.wrap{background-color:#fff;}
body{background-color:#fff;}
.wrap{-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.38);-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.38);box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.38);}
/** Navigation **/
.topnav a{display: none;}
.topnav a.icon {float: right;display: block;}
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {position: absolute;right: 0;top: 0;}
.topnav.responsive a {float: none;display: block;text-align: left;}
/** Number & Wrapper  **/
.number{font: bold 30px/39px 'Sen', sans-serif;margin: 20px 15px 0px 10px;}
.post-wrapper{width:100%;margin:auto;float:left;overflow:hidden;max-width:620px;padding:0px;border-right:0px solid #eee;}  
/** Featured **/
.featured-post{width:80%;margin-right:auto;margin-left:auto;}
/** Background Image **/
.bg-img h2{font:bold 55px/76px 'Sen', sans-serif;}
/** Title Home **/
.title-home{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.title-home-link{padding:0px 1px 4px 1px;mix-blend-mode: screen;position: absolute;top: 75%;left: 50%;transform: translate(-50%, -50%);border: 3px solid #83c665;}
.title-home-link a{color:#222;font:bold 11px/15px 'Sen', sans-serif;letter-spacing: 2px; padding:8px 11px;background-color:white;
text-transform: uppercase;}
.title-home h2{color:white;font:bold 24px/34px 'Sen', sans-serif;text-shadow: 2px 2px 5px #222;letter-spacing: 2px;}
.title-home-link{}
.title-home-link a{font:bold 11px/16px 'Sen', sans-serif; padding:8px 11px;}
/** Post 2 **/
 .post-2-wrapper{background-color:white;width:100%;margin:auto;float:left;overflow:hidden;max-width:100%;margin-left:0px;}
/** Post 1 **/
 .post-1{width:100%;max-width:630px;float:left;}
 .post-1-item{width:96%;margin:5% 2%;border:none;box-shadow: none;}
 .post-1 h2{width:55%;float:left;font: bold 15px/22px 'Sen', sans-serif;text-align:left;margin:2% 3%;}
 .post-1-link {width:96%;margin:auto 0%;}
 .post-1-description p{padding:0px;}
 .post-1-heading{width:0%;margin:0%;}
 .post-1 h3{width:50%;font: bold 15px/20px 'Sen', sans-serif;margin:2% 2% 2% 0%;color:#222;float:left;}
 .post-1-number{width:10%;font: bold 34px/29px 'Sen', sans-serif;margin:2% 0% 2% 2%;padding:1% 0% 1% 1%;}
 .post-1-description{font: normal 12px/17px 'Sen', sans-serif;float:left;width:60%;text-align:left;margin:1% 2%;}
 .post-1-image{width:30%;height:auto;margin:2% 2%;float:left;}
 .post-1-image img{width:100%;height:auto;margin:0px;}
 .post-1-title {margin-left:0px;border-bottom:2px solid #eee;border-top:2px solid #eee;padding:5px 20px;}
 .post-1-title h2{margin-top:15px;}
/** Other **/
.number{float:left;font: bold 38px/39px 'Sen', sans-serif;color:#65b031;margin: 0px 5px 0px 5px;}
.collections-title{margin: 10px 10px 10px 10px;width:100%;border-bottom:2px solid #eee;padding-bottom:5px;margin-bottom:30px;}
.collections-title h2{font: bold 19px/23px 'Sen', sans-serif;text-transform: uppercase;letter-spacing: 1.5px;}
.break{width:100%;border-top:2px solid #eee;height:40px;color:#fff;float:left;margin:auto;}
.break-line{margin:30px 0px 0px 0px;}
}


@media screen and (max-width:480px){p{margin:0px 0px 15px 0px;}
.post{padding:0px;}
/** Navigation **/
.nav{font-size:15px;}
.social li{display:block;margin:10px;padding:5px;}
body{font: normal 16px/25px 'Sen', sans-serif;}
/** Post 1 **/
.post-1 h3{width:50%;font: bold 13px/16px 'Sen', sans-serif;margin:5% 2% 2% 1%;color:#222;float:left;}
.post-1-number{width:10%;font: bold 28px/29px 'Sen', sans-serif;margin:5% 0% 2% 2%;padding:1% 0% 1% 1%;}
.post-1-description{}
.post-1 h2{width:55%;float:left;font: bold 13px/16px 'Sen', sans-serif;margin:2% 3%;}
.post-1-title h2{font: bold 14px/22px 'Sen', sans-serif;}

/** Collection Page Title Box **/
.collection-page-title-box{width:80%;margin:1% 10% 10% 10%;float:center;}
.collection-page-title-box h1{font:bold 18px/25px 'Sen', sans-serif;width:100%;margin:auto;margin-top: 30px;float:left;text-align:center;text-transform: uppercase;letter-spacing: 2px;}

}

@media screen and (max-width:340px){
  .title-home-link a{font:bold 9px/16px 'Sen', sans-serif; padding:8px 11px;}
}


.related-links{width:100%;float:left;margin:auto;margin:5px;padding:5px;border-top:1px #eee;border-bottom:1px solid #eee;}
.related{height:300px;margin:auto;margin:width:90%;max-width: 600px;padding:50px 0px;}
.wrap-related{height:300px;max-width: 600px;width:90%;margin:auto;float:none;}
.related h2{text-align: left;font: bold 23px/36px 'Sen', sans-serif;margin:10px;}

</style>