<footer class="site-footer">

  <div class="wrapper">
  <div class="social">
        <ul>
            <li>
<a href="https://www.facebook.com/DattarajPK" target="_blank" class="facebook"/>
</a>
</li>
            <li>
<a href="https://twitter.com/DattarajPai" target="_blank" class="twitter"/>
</a>
</li>
            <li>
<a href="https://plus.google.com/107997229537985356388" target="_blank" class="googleplus"/>
</a>
</li>
            <li>
<a href="http://www.pinterest.com/dattarajpai" target="_blank" class="pinterest"/>
</a>
</li>
          </ul>
    </div>

  <div class="foot">
  Copyright @2015 <a href="http://www.scienceofgifts.com">Science of Gifts</a>
   <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
  </div>

</footer>
