<div class="left-sidebar">
 <ul class="share">
 <li class="fb-side">
          <a href="https://facebook.com/sharer.php?u=http%3A%2F%2Fwww.scienceofgifts.com{{ page.url }}/" rel="nofollow" target="_blank" title="Share on Facebook"><img src="../assets/icons/facebook-logo.png" alt="Facebook"></a>
   </li>
 <li class="tw-side">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="../assets/icons/twitter-logo.png" alt="Twitter">
        </a>
   </li>
 <li class="gp-side">
     
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="../assets/icons/google+.png" alt="Google+"></a>
   </li>
 </ul>
</div>

