<div class="linkbox">
    <span class="tip-star">
    <img src="/assets/icons/link.png" alt="*" width="25" height="25">
    </span>
    <span class="research-link">
        <a href="{{ page.research-link-1 }}">{{ page.research-text-1 }}</a>
    </span>
</div>

<style>
.linkbox{width: 100%;float: left;margin: -17px 0px 10px 0px;background-color: #f9f9f9;padding: 10px 0px;}
.research-link{margin: 10px 5px; font-size: 15px;padding: 10px 0px;}
.linkbox a{text-decoration: none;}
.linkbox a:visited{text-decoration: none;}
</style>