<header>
   <div class="nav">
      <div class="blog-title">
         <a href="/">
         <img src="/assets/icons/logo.png" alt="Science of Gifts" loading="lazy" width="190" height="40">
         <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
         <meta itemprop="name" content="Science of Gifts"></span>
         </a>
     </div> 
       <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
         <meta itemprop="url" content="{{ site.url }}/assets/icons/logo.png">
        </div>
       <div class="topnav" id="myTopnav">
       <a href="/search/"><img src="../assets/icons/search-icon.png" alt="search" width="20" height="20"></a>
       <a href="/contact/">Contact</a>
       <a href="/about/">About</a>
       <a href="/blog/">ARTICLES</a>
       <a href="/collections/">Collections</a>
       <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
     </div>    
    </div>
    {% include second-nav.html %}
</header>