<div class="number">[4]</div><h2 itemprop="headline">Be More Japan - The Art of Japanese Living</h2>
<div class="item">
<a rel="nofollow" href="https://www.amazon.com/Be-More-Japan-Japanese-Living/dp/1465492062/{% include amazon.html %}">
<span class="item-img">
	<img src="../assets/be-more-japan.jpg" alt="Wolf Fleece Blanket">
</span>
<span class="item-click">
<span class="item-link">
Be More Japan: The Art of Japanese Living - Amazon.com 
</span>
<span class="price">
</span>
<span class="buy-button">
	{% include buy.html %}
</span>
</span>
</a>
</div>