<sidebar class="site-sidebar">

  <div class="amazon">
  <div class="sidebar-title">
    <h2>Follow us on Facebook</h2>
</div>
  </div>
    <div class="popular">
  <div class="sidebar-title">
    <h2>Popular Posts</h2>
  </div>
  <ul>
    <li>
    <a href="#">
    <img src="https://cloud.githubusercontent.com/assets/12511268/10787169/cdcb180a-7d94-11e5-924a-a80bca14b186.jpg" alt="photo">
    <span class="text">15 Ways to help the Less Fortunate on Christmas</span>
    </a>
    </li>

    <li>
           <a href="#">
              <img src="https://cloud.githubusercontent.com/assets/12511268/10787170/cdcf4a1a-7d94-11e5-80e2-c3725ff6a8e1.jpg" alt="photo">
           <span class="text">25 Inexpensive Gifts for coworkers</span>
           </a>
 </li>


    <li>
    
    <a href="#">
     <img src="https://cloud.githubusercontent.com/assets/12511268/10787171/cdd9747c-7d94-11e5-8687-0b0df748c9f8.jpg" alt="">
    <span class="text">15 Gifts for Coffee Lovers</span>
    </a>
    </li>

    <li>
     
    <a href="#"><img src="https://cloud.githubusercontent.com/assets/12511268/10787172/cdf0cb9a-7d94-11e5-979b-b377b4e7a187.jpg" alt="">
   <span class="text">50 Halloween Costume Ideas</span>
    </a>
    </li>

  </ul>
</div>

</sidebar>


