<sidebar class="site-sidebar">

  <div class="amazon">
  <div class="sidebar-title">
    <h2>Follow us on Facebook</h2>
</div>
  </div>
    <div class="popular">
  <div class="sidebar-title">
    <h2>Popular Posts</h2>
  </div>
  <ul>
    <li>
    <a href="#">
    <img src="../assets/homeless.jpg" alt="photo">
    <span class="text">15 Ways to help the Less Fortunate on Christmas</span>
    </a>
    </li>

    <li>
           <a href="#">
              <img src="../assets/bicycle.jpg" alt="photo">
           <span class="text">25 Inexpensive Gifts for coworkers</span>
           </a>
 </li>


    <li>
    
    <a href="#">
     <img src="../assets/coffee.jpg" alt="">
    <span class="text">15 Gifts for Coffee Lovers</span>
    </a>
    </li>

    <li>
     
    <a href="#"><img src="../assets/plant.jpg" alt="">
   <span class="text">50 Halloween Costume Ideas</span>
    </a>
    </li>

  </ul>
</div>

</sidebar>


