<div class="source-box">
    <span class="tip-star">
        <img src="/assets/icons/scholar.png" alt="*" width="30" height="30">
    </span>
    <h3>Article Sources</h3>
</div>


{% if page.source1 %} <span class="source" id="S1">1. {{ page.source1 }}</span>{% endif %}

{% if page.source2 %} <span class="source" id="S2">2. {{ page.source2 }}</span>{% endif %}

{% if page.source3 %} <span class="source" id="S3">3. {{ page.source3 }}</span>{% endif %}

{% if page.source4 %} <span class="source" id="S4">4. {{ page.source4 }}</span>{% endif %}

{% if page.source5 %} <span class="source" id="S5">5. {{ page.source5 }}</span>{% endif %}

{% if page.source6 %} <span class="source" id="S6">6. {{ page.source6 }}</span>{% endif %}

{% if page.source7 %} <span class="source" id="S7">7. {{ page.source7 }}</span>{% endif %}

{% if page.source8 %} <span class="source" id="S8">8. {{ page.source8 }}</span>{% endif %}

{% if page.source9 %} <span class="source" id="S9">9. {{ page.source9 }}</span>{% endif %}

