<style type="text/css"> 
body a{text-decoration:none;color:#1A17C6;}
body a:visited{color:#8A069A;}
body{font:14px/21px  Verdana, Geneva, sans-serif;color:#333;background-color:#f1f1f1;}
img{float:right;max-width:100%;vertical-align:middle;}
.wrap{max-width:1000px;margin:auto;background-color:#fff;}
h1{font: bold 35px/45px Georgia, sans-serif;margin-bottom:20px;color:black;}
.nav img{float:left;height:40px;}
.nav{background-color:#222;color:white;font:bold 13px/20px Verdana, Geneva, sans-serif;text-align:right;margin-bottom:5%;}
.nav li{display:inline;margin:10px;}
.nav ul{padding:10px 10px;max-width:1000px;margin:auto;}
.post-title{font: bold 30px/40px Georgia, serif;color:#333;}
.post-content{margin-bottom:30px;min-width:100%;}
@media screen and (max-width:764px){body{background-color:#fff;}}
@media screen and (max-width:640px){body{font: normal 18px/25px Georgia, sans-serif;}ul.share-buttons{display:none;}}
</style>