<br/>
<div class="number">26.</div><h2 itemprop="headline">{{ page.item26-headline }}</h2>
<div class="item">
{% assign link = page.item26-link %}
{% if page.item26-source == "amazon" %}
    {% capture link %}{{ page.item26-link }}{% include amazon.html %}{% endcapture %}
{% endif %}
{% if page.item26-buy-text == false %}
    <a rel="nofollow sponsored" href="{{ link }}">
{% else %}
    <a href="{{ link }}">
{% endif %}
<span class="item-img">
	<picture>
     <source srcset="../assets/{{ page.item26-img }}.webp" type="image/webp" loading="lazy" width="260" height="260" alt="{{ page.item26-img-alt }}">
     <source srcset="../assets/{{ page.item26-img }}.jpg" type="image/jpeg" loading="lazy" width="260" height="260" alt="{{ page.item26-img-alt }}"> 
     <img src="../assets/{{ page.item26-img }}.jpg" loading="lazy" width="260" height="260" alt="{{ page.item26-img-alt }}">
    </picture>	
</span>
<span class="item-click">
<span class="item-link">
{{ page.item26-description }} - {{ page.item26-source | capitalize }}.com 
</span>
<span class="price">
</span>
<span class="buy-button">
	{% include buy-button-text.html -%}{% if page.item26-buy-text %}{{ page.item26-buy-text | capitalize }}{% else %}{{ page.item26-source | capitalize }}{% endif %}
</span>
</span>
</a>
</div>

{% if page.item26-gg %}{% include dd/dd-26.html %}{% endif %}