<br/>
<div class="number">47.</div><h2 itemprop="headline">{{ page.item47-headline }}</h2>
<div class="item">
{% assign link = page.item47-link %}
{% if page.item47-source == "amazon" %}
    {% capture link %}{{ page.item47-link }}{% include amazon.html %}{% endcapture %}
{% endif %}
{% if page.item47-buy-text == false %}
    <a rel="nofollow sponsored" href="{{ link }}">
{% else %}
    <a href="{{ link }}">
{% endif %} 
<span class="item-img">
	<picture>
     <source srcset="../assets/{{ page.item47-img }}.webp" type="image/webp" loading="lazy" width="260" height="260" alt="{{ page.item47-img-alt }}">
     <source srcset="../assets/{{ page.item47-img }}.jpg" type="image/jpeg" loading="lazy" width="260" height="260" alt="{{ page.item47-img-alt }}"> 
     <img src="../assets/{{ page.item47-img }}.jpg" loading="lazy" width="260" height="260" alt="{{ page.item47-img-alt }}">
    </picture>	
</span>
<span class="item-click">
<span class="item-link">
{{ page.item47-description }} - {{ page.item47-source | capitalize }}.com 
</span>
<span class="price">
</span>
<span class="buy-button">
	{% include buy-button-text.html -%}{% if page.item47-buy-text %}{{ page.item47-buy-text | capitalize }}{% else %}{{ page.item47-source | capitalize }}{% endif %}
</span>
</span>
</a>
</div>