      "mainEntity": [{
        "@type": "Question",
        "name": "{{ page.q1 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ page.a1 }}"
        }
      }, {
        "@type": "Question",
        "name": "{{ page.q2 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"{{ page.a2 }}"}
        },
{
        "@type": "Question",
        "name": "{{ page.q3 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":"{{ page.a3 }}"}
        }
        ],