<div class="chart-container">
    <table class="chart">
        <thead>
            <tr>
                <th></th>
                <th>2022</th>
                <th>2023</th>
                <th>2024</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Give them to someone else</td>
                <td>
                    <div class="chart-bar" style="width: 35%;"></div>
                    <span class="percentage">35%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 37%;"></div>
                    <span class="percentage">37%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 39%;"></div>
                    <span class="percentage">39%</span>
                </td>
            </tr>
            <tr>
                <td>Keep them</td>
                <td>
                    <div class="chart-bar" style="width: 43%;"></div>
                    <span class="percentage">43%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 39%;"></div>
                    <span class="percentage">39%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 35%;"></div>
                    <span class="percentage">35%</span>
                </td>
            </tr>
            <tr>
                <td>Exchange them</td>
                <td>
                    <div class="chart-bar" style="width: 26%;"></div>
                    <span class="percentage">26%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 29%;"></div>
                    <span class="percentage">29%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 32%;"></div>
                    <span class="percentage">32%</span>
                </td>
            </tr>
            <tr>
                <td>Sell them</td>
                <td>
                    <div class="chart-bar" style="width: 17%;"></div>
                    <span class="percentage">17%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 22%;"></div>
                    <span class="percentage">22%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 27%;"></div>
                    <span class="percentage">27%</span>
                </td>
            </tr>
            <tr>
                <td>Throw them away</td>
                <td>
                    <div class="chart-bar" style="width: 8%;"></div>
                    <span class="percentage">8%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 12%;"></div>
                    <span class="percentage">12%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 16%;"></div>
                    <span class="percentage">16%</span>
                </td>
            </tr>
            <tr>
                <td>Give them back</td>
                <td>
                    <div class="chart-bar" style="width: 8%;"></div>
                    <span class="percentage">8%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 10%;"></div>
                    <span class="percentage">10%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 12%;"></div>
                    <span class="percentage">12%</span>
                </td>
            </tr>
            <tr>
                <td>Other</td>
                <td>
                    <div class="chart-bar" style="width: 2%;"></div>
                    <span class="percentage">2%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 1%;"></div>
                    <span class="percentage">1%</span>
                </td>
                <td>
                    <div class="chart-bar" style="width: 0%;"></div>
                    <span class="percentage">0%</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="source">
        Source: Finder's Unwanted Gifts Report
    </div>
</div>

